@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Marca Kusay (modo claro) ===== */
:root{
  /* Azul marca */
  --brand-50:#EEF5FF; --brand-100:#DBE9FF; --brand-200:#B8D2FF;
  --brand-300:#8EB6FF; --brand-400:#5E90FF; --brand-500:#1C64F2;
  --brand-600:#155EEF; --brand-700:#0B4FD3; --brand-800:#0A3FA6; --brand-900:#0A2F7A;

  /* Acento */
  --accent-400:#22D3EE; --accent-500:#06B6D4; --accent-600:#0891B2;

  /* Estados */
  --success-500:#22C55E;
  --warning-500:#EAB308;
  --danger-500:#EF4444;
}

/* ===== Modo oscuro opcional (si activas .dark en <html>) ===== */
:root.dark{
  /* sube un tono el primario para más punch en dark */
  --brand-500:#2B6CF3;
  --brand-600:#1D5FEF;
  --brand-700:#1449C9;
}
